In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Corona Virus Dataset.csv")
df.head()

,Province,Country/Region,Latitude,Longitude,Date,Confirmed,Deaths,Recovered
0,Afghanistan,Afghanistan,33.93911,67.709953,22-01-2020,0,0,0
1,Afghanistan,Afghanistan,33.93911,67.709953,23-01-2020,0,0,0
2,Afghanistan,Afghanistan,33.93911,67.709953,24-01-2020,0,0,0
3,Afghanistan,Afghanistan,33.93911,67.709953,25-01-2020,0,0,0
4,Afghanistan,Afghanistan,33.93911,67.709953,26-01-2020,0,0,0

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\Aduragbemi\AppData\Local\Temp\ipykernel_33940\2394721818.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78386 entries, 0 to 78385
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province        78386 non-null  object
 1   Country/Region  78386 non-null  object
 2   Latitude        78386 non-null  float64
 3   Longitude       78386 non-null  float64
 4   Date            78386 non-null  datetime64[ns]
 5   Confirmed       78386 non-null  int64
 6   Deaths          78386 non-null  int64
 7   Recovered       78386 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 4.8+ MB

In [6]:
df.head(2)

,Province,Country/Region,Latitude,Longitude,Date,Confirmed,Deaths,Recovered
0,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0
1,Afghanistan,Afghanistan,33.93911,67.709953,2020-01-23,0,0,0

In [7]:
df.to_csv('corona_virus_dataset.csv')

In [8]:
df.shape

(78386, 8)

In [ ]:
df.to_sql('your_table', conn, if_exists='replace', index=False)
conn.close()

In [16]:
from sqlalchemy import create_engine

In [20]:
connection_str = 'postgresql://postgres:1904@localhost:5432/mentorness'

In [21]:
engine = create_engine(connection_str)

In [22]:
df.to_sql("coronavirus", engine, if_exists='replace', index=False)

386